@import "bootstrap/bootstrap-sass-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');

$main-color: #13BDD2;
$round: 4px;
$nav-height: 17vh;
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  background-color: #e4e6e5;
}
a{
  color: #FFF;
}
header{
  background-color: $main-color;
  min-height: 10vh;
  [class*="col-"]{
    padding: 0;
  }
  @media (min-width: $screen-sm-min) {
    max-height: $nav-height;
  }
  .nav{
    color: #FFF;
    .menu-position{
      display: flex;
      height: 10vh;
      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
    #hamburger-menu {
      width: 6vh;
      height: 6vh;
      align-self: center;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      z-index: 2;
      @media (min-width: $screen-sm-min) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        height: 1vh;
        width: 100%;
        background: #FFF;
        border-radius: 9px;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
    }
    #logo, #user{
      justify-content: center;
      @media (min-width: $screen-sm-min) {
        height: $nav-height;
      }
    }
    #logo img, #user img{
      height: 10vh;
      @media (min-width: $screen-sm-min) {
        height: auto;
        width: 100%;
        align-self: center;
      }
    }
    #user-name{
      @media (min-width: $screen-sm-min) {
        font-size: 2vw;
        text-align: center;
        min-height: 7.5vh;
        margin-top: 2vh;
      }
    }
    #mail{
      justify-content: flex-end;
      height: 10vh;
      img{
        align-self: center;
        height: 8vh;
        margin-right: 9px;
      }
      @media (min-width: $screen-sm-min) {
        height: 6vh;
        padding: 0;
        margin-left: 30px;
        justify-content: flex-end;
        img{
          height: 4vh;
        }
      }
    }
    #settings{
      :hover{
        animation:spin 4s linear infinite;
      }
      @keyframes spin {
        100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
      }
        height: 6vh;
        justify-content: flex-end;
        display: flex;
        img{
          height: 4vh;
          align-self: center;
          //padding-right: 0;
      }
    }
  }
  //form{
  //  position: absolute;
  //  top: 50%;
  //  right: 115%;
  //  transform: translateY(-50%);
  //  color: black;
  //}
  #search-panel {
    height: $nav-height;
    .search-input {
      width: 10vh;
      height: 3vh;
      position: absolute;
      display: none;
      top: 50%;
      right: 115%;
      transform: translateY(-50%);
      color: black;
      outline: none;
      border-radius: $round;
      padding: 1vh;
      border: none;
      background-color: rgba(255, 255, 255, 0.61);
    }
    #search {
      border-right: 2px solid #64D4E1;
      width: 53%;
      align-self: center;
      outline: none;
    }
    #power {
      width: 43%;
      outline: none;
      align-self: center;
    }
  }
}
#nav-bar{
  display: none;
  background-color: #333333;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  ul {
    list-style-type: none;
    @media (min-width: $screen-sm-min) {
      padding: 0;
      margin: 0;
    }
    img {
      height: 10vh;
      margin: 9vh 3vh -6vh 5vh;
      @media (min-width: $screen-sm-min) {
        margin: 5vh auto 1vh auto;
        display: block;
        height: 6vh;
      }
    }
    @media (min-width: $screen-md-min) {
      a:hover {
        background-color: black;
        :before {
          content: '';
          display: block;
          width: 2rem;
          height: 2rem;
          background-color: #000;
          position: absolute;
          bottom: -1rem;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
        }
      }
    }
    li {
      text-align: center;
      font-size: 4vh;
      padding-bottom: 2vh;
      @media (min-width: $screen-sm-min) {
        font-size: 1.7vh;
        height: 5vh;
        text-align: center;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    background-color: transparent;
    max-height: $nav-height;
    display: block;
    position: static;
    width: 33.33333%;
  }
}
#hamburger-menu span:nth-child(1) {
  top: 0;
}

#hamburger-menu span:nth-child(2),#hamburger-menu span:nth-child(3) {
  top: 2vh;
}

#hamburger-menu span:nth-child(4) {
  top: 4vh;
}

#hamburger-menu.open span:nth-child(1) {
  top: 2vh;
  width: 0;
  left: 50%;
}

#hamburger-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger-menu.open span:nth-child(4) {
  top: 2vh;
  width: 0;
  left: 50%;
}
#finance{
  @media (min-width: $screen-sm-min) {
    margin-top: 4.8vh;
    [class*="col-"]{
      padding: 0;
    }
  }
  .align-right{
      text-align: right;
      text-align: right;
      font-size: 1.8rem;
    }
  h1{
    margin: 0;
    font-size: 6rem;
    font-weight: 300;
  }
  #add-bank, #add-payment {
    width: 7.33333%;
    padding: 1vh;
    font-size: 1.8rem;
    margin-left: 1%;
  }
}
#finance-info{
  height: 14vh;
  display: flex;
  div{
    align-self: center;
    font-size: 2rem;
  }
  + div{
    display: flex;
    height: 14vh;
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 3vh;
    div{
      margin-top: 1vh;
      font-size: 3rem;
    }
  }
}
.button-color{
  background-color: $main-color;
  border-radius: $round;
  align-self: center;
  color: #fff;
  padding: 1vh;
  text-align: center;

}
#chart{
  height: 42vh;
  background-color: #fff;
  border-radius: $round;
}
#products {
  margin-top: 2vh;
  font-size: 2rem;
  .product {
    min-height: 16vh;
    background-color: #FFF;
    margin: 3% 5% 0 5%;
    display: flex;
    width: 90%;
    padding-right: 0;
    border-radius: $round;
    span {
      align-self: center;
    }
    @media (min-width: $screen-sm-min) {
      min-height: 10vh;
      width: 48%;
      margin: 2% 2% 0 0;
      font-size: 1.6rem;
    }
    img {
      max-height: 6vh;
      align-self: center;
      padding-right: 5vh;
      @media (min-width: $screen-sm-min) {
        max-height: 4vh;
        padding-right: 1vh;
      }
      @media (min-width: $screen-md-min) {
        max-height: 6vh;
        padding-right: 2vh;
      }
    }
  }
}

.hide-xs{
  display: none;
}
.show-sm {
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}
.flex{
  display: flex;
}
.center-align{
  align-self: center;
}
#history div{
  //border: 1px solid black;
  padding: 0;
}
#history{
  margin-top: 2vh;
  font-size: 2rem;
  overflow: auto;
  height: 40vh;
  @media (min-width: $screen-sm-min) {
    padding-right: 0;
  }

  .history-item{
    text-align: center;
    margin: 0 0 1% 0;
    background-color: #fff;
    border-radius: $round;
    display: flex;
    padding-right: 0;
    .description{
      text-align: left;
    }
    div{
      align-self: center;
    }
    .description{
      padding-top: 4%;
    }
    select{
      background: url('../img/dropArrow.png') no-repeat center right;
      background-size: 15% 40%;
      border: none;
      -webkit-appearance: none;
      padding-left: 15px;
      width: 100%;
      outline: none;
      margin-bottom: 6%;
    }
  }
  :first-child{
    margin-top: 2%;
  }
}
::-webkit-input-placeholder {
  color: $main-color;
  font-size: 1.7rem;
}