@import "bootstrap/bootstrap-sass-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');

$main-color: #13BDD2;
$round: 4px;
body{
  font-family: 'Roboto Condensed';
  font-weight: 300;
  background-color: #e4e6e5;
}
header{
  background-color: $main-color;
  height: 10vh;
  @media (min-width: $screen-sm-min) {
    height: 15vh;
  }
  .nav{
    line-height: 10vh;
    color: #FFF;
    .menu-position{
      display: flex;
      height: 10vh;
      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
    #hamburger-menu {
      width: 6vh;
      height: 6vh;
      align-self: center;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      z-index: 2;
      @media (min-width: $screen-sm-min) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        height: 1vh;
        width: 100%;
        background: #FFF;
        border-radius: 9px;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
    }
    #logo{
      display: flex;
      justify-content: center;
      img{
        height: 10vh;
      }
    }
    #logo, #user{
      @media (min-width: $screen-sm-min) {
        display: flex;
        height: 15vh;
        padding: 0;
      }
    }
    #logo img, #user img{
      @media (min-width: $screen-sm-min) {
        align-self: center;
        height: auto;
        width: 100%;
      }
    }
    #user-name{
      @media (min-width: $screen-sm-min) {
        text-align: center;
        height: 6.5vh;
        padding: 0;
      }
    }
    #mail, #settings{
      height: 10vh;
      display: flex;
      justify-content: flex-end;
      img{
        align-self: center;
        height: 7vh;
      }
      @media (min-width: $screen-sm-min) {
        height: 6.5vh;
        img{
          height: 2vh;
        }
      }
    }
  }
}

#hamburger-menu span:nth-child(1) {
  top: 0;
}

#hamburger-menu span:nth-child(2),#hamburger-menu span:nth-child(3) {
  top: 2vh;
}

#hamburger-menu span:nth-child(4) {
  top: 4vh;
}

#hamburger-menu.open span:nth-child(1) {
  top: 2vh;
  width: 0;
  left: 50%;
}

#hamburger-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger-menu.open span:nth-child(4) {
  top: 2vh;
  width: 0;
  left: 50%;
}

.finance-info{
  height: 14vh;
  display: flex;
  div{
    align-self: center;
    font-size: 2rem;
  }
  + div{
    display: flex;
    height: 14vh;
  }
}

.button-color{
  background-color: $main-color;
  border-radius: $round;
  align-self: center;
  color: #fff;
  padding: 1vh;
  text-align: center;

}
#chart{
  height: 40vh;
  background-color: #fff;
  border-radius: $round;
}
#products {
  margin-top: 2vh;
  font-size: 2rem;
  .product {
    height: 10vh;
    background-color: #FFF;
    margin: 3% 5% 0 5%;
    display: flex;
    width: 90%;
    padding-right: 0;
    border-radius: $round;
    span {
      align-self: center;
    }
    @media (min-width: $screen-sm-min) {
      width: 48%;
      margin: 2% 2% 0 0;
      font-size: 1.6rem;
    }
    img {
      height: 6vh;
      align-self: center;
      padding-right: 5vh;
      @media (min-width: $screen-sm-min) {
        height: 4vh;
        padding-right: 1vh;
      }
      @media (min-width: $screen-md-min) {
        height: 6vh;
        padding-right: 2vh;
      }
    }
  }
}
#nav-bar{
  display: none;
  background-color: #333333;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  ul{
    list-style-type: none;
    li{
      color: #FFF;
      font-size: 5vh;
    }
  }
  img{
    height: 10vh;
    margin: 9vh 3vh -3vh 3vh;
  }
}
.hide-xs{
  display: none;
}
.show-sm {
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}